<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Bare - Start Bootstrap Template</title>

		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="stylesheets/style.css" rel="stylesheet">
		
	</head>
	
	<body class = "toppadding">
		<div class="container"> 
			<h1>Insight and views</h1><br>
			
			<div class="col-sm-8">
				<% @posts.each do |x| %>					
					<p class = "border">
					<h5 class = "postdate"><%= x.created_at.strftime("%b %d, %Y") %></h5>
					<h4 class = "posttitle"><%= x.description %></h4>
					<p><%= truncate(x.body, length: 200, separator: ' ') %></p>
					<p><a href="<%= post_path(x) %>">>> READ MORE</a></p>
				</p>
				<% end %>	
			</div>
		
			<div class="col-sm-4">
				<div class="well">
					<h5 class = "posttitle">Help contribute or share your views anonymously</h5><br>
					<%= link_to "Click here", contacts_path, class: "btn btn-danger" %>
				</div>
			</div>
		
		</div>
	</body>
</html>

	
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <script src="offcanvas.js"></script>
	</body>