<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="stylesheets/style.css" rel="stylesheet">
    
	<link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="offcanvas.css" rel="stylesheet">
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
	
  </head>

  <body class="toppadding">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
					<%= form_for @post do |x| %>
					  
					<p>
					<%= x.label :description %><br/>
					<%= x.text_field :description, class: 'form-control' %><br/>
					</p>
					
					<p>
					<%= x.label :body %><br/>
					<%= x.text_field :body, class: 'form-control' %><br/>
					</p>
					
					<p>
					<%= x.submit "Add a new entry" %>
					</p>
					
					
					<% end %>
			</div>
		</div>
</body>